// regions
$Bandle-City: #80be57;
$Bilgewater: #a5572a;
$Demacia: lightyellow;
$Freljord: lightskyblue;
$Ionia: #f3637b;
$Noxus: maroon;
$Piltover-and-Zaun: #ffd000;
$Shadow-Isles: seagreen;
$Shurima: tan;
$Targon: #370080;

// colors
$background: #001c2b;
$background-alt: #00263b;
$color: white;
$error: #F83A44;
$warning: #E9B872;
$success: #90A959;
$btn-hover: #567f92;

// size
$media-width: 800px;
$header-height: 40px;