// regions
$Freljord: lightskyblue;
$Noxus: maroon;
$Shadow-Isles: seagreen;
$Shurima: tan;

// colors
$background: #001c2b;
$background-alt: #00263b;
$color: white;
$error: #F83A44;
// $error: #fa4141;
$success: #90A959;
$info: #6494AA;